@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Fredericka+the+Great|Londrina+Shadow|Londrina+Solid|Text+Me+One|Megrim');


/*add outline borders to all elements - for design purposes*/
* { 
  /*border: 1px dashed rgba(0, 0, 0, 0.3);*/
}

body, html, main {
  /*background-image: url("../_img/background.jpg");*/
  /*border: 1px dashed rgba(0, 0, 0, 0.3);*/
}

.invsbl {
  display: none;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */

  background-image: url("../_img/BlackTieBeach_2011.jpg");
  filter: blur(50px);
  background-repeat: repeat;
  background-size: cover;
  
}

.section {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}

.header {
  margin: 6% 0 15px 0;
  background-color: rgba(0, 0, 0, 0);  
  transition: all 1.5s ease;
  z-index: 2;
}

.header:hover {
  /*background-color: rgba(132, 42,178, 0.25);*/
  /*filter: blur(5px);*/
}

.header-title {
	font-size: 120px;
	font-weight: bold;
	font-family: 'Patrick Hand SC', cursive;
	color: rgba(0,0,0,0.85);
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.85);
  line-height: 0.75em;
}

@media only screen and (max-width: 500px) {
  .header {
    /*color: red;*/
    margin: 15px 5px 0 0;
  }

  .header-title {
    /*color: red;*/
	  font-size: 5em;
    text-align: right;
    margin: 0 5px 0 0;
  }
}

.background {
  background-image: url("../_img/BlackTieBeach_2011.jpg");
  filter: blur(5px) brightness(.9); /* grayscale(.3); /* sepia(0.5) saturate(0.7)  */
  /*background-attachment: fixed;*/
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  
  transition: all 1.5s ease;  
}

.animated {
  -webkit-animation: filter-animation 55s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2) blur(5px);
  }
  
  50% {
    -webkit-filter: sepia(1) saturate(1) blur(5px);
  }
  
  100% {
    -webkit-filter: sepia(0) saturate(2) blur(5px);
  }
}

.background:hover {
  /*filter: blur(0px);*/
}

@media only screen and (max-width: 500px) {
  .background {
    background-position: 20% bottom;
  }
}

.subtitle {
  font-family: 'Megrim', sans-serif ;
  font-size: 2.5em;
  font-weight: 900;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.85); 
}

p, .text {
  font-family: 'Text Me One';
  font-weight: bold;
  color: #FFF;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.85);

  padding: 5px;
}
